<!DOCTYPE html>
<html>
	<head>
		<title>Movies</title>
	</head>
	<nav class="container2">
		<div class="box1">
			<a class="a" [routerLink]="['/movies']">Movie</a>
		</div>
		<div class="box1">
			<a class="a" [routerLink]="['/movie-create']">Create</a>

		</div>
		<div class="box1">
			<a class="a" [routerLink]="['/shopping-list']">Shopping List</a>
		</div>
	</nav>
	<body>
		<br>				   
		<!-- movies -->
	 	<div class="container3">
	  		<div *ngFor=" let movie of movies | paginate: { itemsPerPage: 8, currentPage: p}" class="hi">
				<div>
					<a [routerLink]="['/movie-detail', movie._id]" class="btn"><img class="image" src="{{movie.image}}"></a>
				</div>
	  		</div>
	  	</div>
	  <pagination-controls (pageChange)="p = $event"></pagination-controls>

	</body>
</html>



