<h1>Movies</h1>
<!-- <div class="continer">
	<dl *ngFor="let movie of movies">
		<dt>name</dt>
		<dd>{{movie.name}}</dd>
		<dt>Description</dt>
		<dd>{{movie.description}}</dd>
		<dt>Original Price</dt>
		<dd>{{movie.original_price}}</dd>
		<dt>Sale Price</dt>
		<dd>{{movie.sale_price}}</dd>
		<dt>stupid</dt>
	</dl>
</div> -->

<dir class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/movies" routerlinkActive="selected">Movies</a>     
      </li>
    </ul>
    <table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Original Price</th>
				<th>Sale Price</th>
			</tr>
		</thead>    	
		<tbody>
			<tr *ngFor="let movie of movies">
				<td>{{movie.name}}</td>
				<td>
					<a [routerLink]="['/movie-details', movie._id]" class="btn">More</a>
				</td>
				<td>{{movie.original_price}}</td>
				<td>{{movie.sale_price}}</td>

			</tr>
		</tbody>
    </table>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a>Log In</a>
      </li>
      <li>
        <a class="logout">Log Out</a>
      </li>
    </ul>
  </nav>