<div>
	<h1>Movies</h1>

</div>
<dir class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/movies" routerlinkActive="selected">Movies!!!</a>    	
        <button [routerLink]="['/movie-create']" class="btn btn-default btn-lg">Create</button>
      </li>
    </ul>
   	<button class="btn btn-success" type="button" [routerLink]="['/shopping-list']">Shopping List</button>
    <table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Original Price</th>
				<th>Sale Price</th>
				<th>Options</th>
			</tr>
		</thead>    	
		<tbody>
			<tr *ngFor="let movie of movies">
				<td><a [routerLink]="['/movie-detail', movie._id]" class="btn">{{movie.name}}</a></td>
				<td> {{movie.description}} </td>
				<td>{{movie.original_price}}</td>
				<td>{{movie.sale_price}}</td>
				<td>
					<button class="btn btn-success" (click)="buyMovie(movie._id)" >BUY</button>
					<a [routerLink]="['/movie-edit', movie._id]" class="btn">Edit</a>
				</td>


			</tr>
		</tbody>
    </table>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a>Log In</a>
      </li>
      <li>
        <a class="logout">Log Out</a>
      </li>
    </ul>
  </nav>